.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top-left-radius: var(--standard-radius);
  border-bottom-left-radius: var(--standard-radius);
}

.project > .title {
  overflow: scroll;
}

.project.active {
  background-image: var(--light-tint);
}