body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

div#content-wrapper {
  height: 70vh;
  width: clamp(300px, 50%, 1200px);
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px gray;
  display: grid;
  grid-template-columns: minmax(150px, 2fr) 5fr;
  grid-template-rows: minmax(50px, 1fr) 8fr;
}

div#sidebar-wrapper {
  grid-column: 1 / 2;
  grid-row: 1/ 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#todo-wrapper,
div#project-wrapper {
  overflow: scroll;
}

div.project > h3 {
  cursor: pointer;
  flex-grow: 1;
}

div.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
